*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #3F3D56;
    font-size: 18px;
    font-family: 'Source Sans Pro', Helvetica;
}
/**** HEADER STYLES ****/
.container{
    width: 80%;
    margin: auto;
    /* border: 1px solid; */
}
.header {
    height: 100px;
    background: white;
    /* padding: 0 20px; */
    color: #fff;
}
.logo{
    float:left;
}
.logo img {
    width: 130px;
    /* height: 55px; */
    margin-top: 29px;
    padding-left: 20px;
}
.menu {
    float: right;
    line-height: 100px;
}

.menu a {
    color: #3F3D56;
    text-decoration: none;
    padding: 0 10px;
    font-size: 20px;
}
.menu a:hover{
    text-transform: uppercase;
    font-weight: 600;
}
.logo-section img {
    width: 130px;
    height: 55px;
    margin-left: 200px;
    margin-top: 50px;
    padding-left: 20px;
}
.login-btn {
    color: #FFF;
    background-color: #6666ff;
    border-radius: 20px;
    width: 120px;
    height: 35px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.login-btn:hover, .btn-pay:hover, .btn:hover{
    box-shadow: 3px 3px 0 #6060e7;
    transform: translate(-3px,-3px);
    outline: none;
}
.btn {
    color: #FFF;
    background-color: #6666ff;
    border-radius: 20px;
    width: 200px;
    height: 42px;
    border: none;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
    margin-bottom: 50px;
}
/*  HEADER */

/* MAIN_LANDING */

.landing {
    margin-top: 150px;
    padding-top: 30px;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.justify-between{
    justify-content: space-between
}
.col-4, .col-9, .col-3{
    flex-direction: column;
    display: inline-flex;
}
.mt__3{ margin-top: 3rem; }
.col-4{
    width: 40%;
}
.col-5{
    width: 50%;
}
.col-9{
    width:70%;
}
.col-3{
    width: 25%;
}
.landing-text {
    padding: 0 20px;
}
.landing h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}
.landing p {
    font-size: 18px;
    margin-bottom: 10px;
    text-align:justify;
}
.landing-image {
    width: 100%;
    height: 300px;
    background-image: url('./img/tax payment image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.payments{
    background: #2E2D3F;
    color: #fff;
    padding: 2rem 0;
    margin: 2rem 0;
}
.card-payment{
    margin-top: 2rem;
}
.card-payment h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.card-payment p{
    margin-bottom: 5px;
}
.card__payment-bg{
    width: 100%;
    height: 230px;
    background-image: url('./img/credit card payment image.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.fund__payment-bg{
    width: 100%;
    height: 230px;
    background-image: url('img/fund project.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.panel{
    text-align: center;
    padding: 1rem 0;
}
.btn-start{
    margin: 0;
}
.btn-pay {
    color: #FFF;
    background-color: #6666ff;
    border-radius: 20px;
    width: 100%;
    height: 42px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/*.info {
    background: #00091a;
    color: #FFF;
    opacity: 0.8;
    height: 620px;
    display: block;
    margin-top: 50px;
}*/
/* 
.cc-pay,
.projects {
    width: 35%;
    margin-left: 200px;
    padding-left: 20px;
    margin-top: 70px;
}

.card-image {
    width: 30%;
    float: right;
    margin-top: -180px;
} */

/* .project-image {
    width: 30%;
    float: right;
    margin-top: -150px;
}

.card {
    padding-top: 50px;
}

.fund-project {
    padding-top: 50px;
} */

/* .midpage {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
} */
/* FOOTER */
footer {
    background: #2E2D3F;
    color: #FFF;
    margin-top: 2rem;
    padding: 2rem;
}
.footer-logo img{
    width: 100px;
}
.about,
.contact,
.news,
.social p{
    font-size: 15px;
    padding: 0 1rem;
    /* width: 20%;
    float: left; */
    /* padding: 20px; */
}
.copyright{
    text-align: center;
}

/* .footer-contents {
    margin-left: 200px;
    width: 100%;
} */

.sm a {
    color: #FFF;
}

.sm a:hover {
    color: #6666ff;
}

.about h4, .contact h4, .news h4,.social h4, .contact a {
    color: #6666ff;
}
.contact a:hover {
    color: #FFF;
}

/* .copyright {
    float: left;
} */

#go-btn {
    color: #FFF;
    background-color: #6666ff;
    width: 50px;
    height: 21px;
    border: none;
    font-size: 16px;
    margin-top: 30px;
    cursor: pointer;
}

.calculate {
    background: #ecf2f9;
    width: 350px;
    margin: -110px auto;
    padding: 35px;
    border-radius: 5px;
    position: relative;
}

.calculate h2 {
    color: #002699;
}

.calculate .input {
    padding: 13px 0 13px 25px;
    width: 100%;
    text-align: center;
    border: 2px solid #dddddd;
    border-radius: 5px;
    letter-spacing: 1px;
    word-wrap: 3px;
    outline: none;
    color: #555555;
}

.calculate .income {
    width: 91.5%;
    letter-spacing: 1px;
    word-wrap: 3px;
    outline: none;
    color: #555555;
    padding: 13px 0 13px 25px;
    border: 2px solid #dddddd;
    border-radius: 5px;
}

.calculate .textinput {
    width: 91.5%;
    letter-spacing: 1px;
    word-wrap: 3px;
    outline: none;
    color: #555555;
    padding: 13px 0 13px 25px;
    border: 2px solid #dddddd;
    border-radius: 5px;
}

.calculate .label {
    display: block;
    color: #555555;
    margin-bottom: 6px;
}

.menu .active {
    color: #6666ff;
    font-weight: bold;
}

.calculate .percent {
    display: none;
    color: #ff0000;
}


/** About US and Team Page Stle **/

.about-section {
    color: black;
    width: 80%;
    margin: auto auto;
    padding: 1rem 0.5rem 0.5rem 1rem;
}

.about-section h2, .about-section h3 {
    text-align: center;
}

.about-section p {
    text-align: justify;
}

#partners {
    color: black;
    width: 80%;
    margin: auto auto;
    padding: 1rem 0.5rem 0.5rem 1rem;
    text-align: center;
}

#team {
    color: black;
    width: 80%;
    margin: auto auto;
    padding: 1rem 0.5rem 0.5rem 1rem;
}

#team h2 {
    text-align: center;
}

#team-members {
    width: 90%;
    margin: 5px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 20px 0 20px;
    margin-bottom: 2rem;
    line-height: 0%;
}

.member {
    border-radius: 0px;
    padding: 1.5rem;
    margin-bottom: 0.7rem;
    text-align: center;
}

.member img {
    border-radius: 50%;
}

.member h4 {
    color: black;
    font-weight: 500px;
    font-style: oblique;
}

.member p {
    color: black;
    font-style: italic;
}

.aboutus-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: 300px;
    margin: auto;
    text-align: center;
}

.logo-section {
    display: flex;
    padding: 30px;
    color: black;
    border-radius: 12px;
}

.team-btn {
    color: #FFF;
    background-color: #6666ff;
    border-radius: 20px;
    width: 220px;
    height: 50px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}

#team button {
    margin: auto;
    display: inline-block;
}

.card-section {
    display: flex;
    padding: 30px;
    color: black;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 50%;
    }
}

#mission {
    font-weight: bold;
    font-style: italic;
    text-align: left;
}

.tax-photo {
    width: 60%;
    height: 58%;
    align-self: center;
    padding-left: 20%;
}