body {
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', Helvetica;
}

.header {
    overflow: hidden;
    background-color: #ffffff;
}

.header a {
    float: left;
    display: block;
    color: #3F3D56;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Raleway
}

.header-right {
    float: right;
    padding-top: 20px;
}

.logo img {
    width: 130px;
    height: 55px;
    padding-left: 20px;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.header .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.header a:hover,
.dropdown:hover .dropbtn {
    text-decoration: overline;
    text-decoration-color: #6C63FF;
    color: #6C63FF;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.login-btn {
    color: #FFF;
    background-color: #6666ff;
    border-radius: 20px;
    width: 100px;
    height: 25px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .header a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }
    .header a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .header.responsive {
        position: relative;
    }
    .header.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .header.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .header.responsive .dropdown {
        float: none;
    }
    .header.responsive .dropdown-content {
        position: relative;
    }
    .header.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
    .landing {
        display: block;
        width: 100%;
    }
}

.btn {
    color: #FFF;
    background-color: #6666ff;
    border-radius: 20px;
    width: 200px;
    height: 42px;
    border: none;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
    margin-bottom: 50px;
}

.btn-pay {
    color: #FFF;
    background-color: #6666ff;
    border-radius: 20px;
    width: 100%;
    height: 42px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.landing {
    height: 50vh;
    margin-top: 150px;
    padding-top: 30px;
    display: inline-block;
    overflow: hidden;
}

.landing h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    margin: 0px;
}

.landing p {
    font-size: 18px;
}

.landing-text {
    width: 40%;
    margin-left: 200px;
    padding-left: 20px;
    float: left;
}

.landing-image {
    width: 30%;
    float: right;
    padding-top: 20px;
    margin-right: 150px;
    margin-bottom: 50px;
    display: block;
}

.info {
    background: #00091a;
    color: #FFF;
    opacity: 0.8;
    height: 620px;
    display: block;
    margin-top: 50px;
}

.cc-pay,
.projects {
    width: 35%;
    margin-left: 200px;
    padding-left: 20px;
    margin-top: 70px;
}

.card-image {
    width: 30%;
    float: right;
    margin-top: -180px;
}

.project-image {
    width: 30%;
    float: right;
    margin-top: -150px;
}

.card {
    padding-top: 50px;
}

.fund-project {
    padding-top: 50px;
}

.midpage {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

footer {
    background: #00091a;
    color: #FFF;
    opacity: 0.8;
    height: 40vh;
    margin-top: 200px;
}

.footer-contents {
    margin-left: 200px;
    width: 100%;
}

.sm a {
    color: #FFF;
}

.sm a:hover {
    color: #6666ff;
}

.about,
.contact,
.news,
.social {
    width: 20%;
    float: left;
    padding: 20px;
}

.about h4 {
    color: #6666ff;
}

.contact h4 {
    color: #6666ff;
}

.news h4 {
    color: #6666ff;
}

.social h4 {
    color: #6666ff;
}

.contact a {
    color: #6666ff;
}

.contact a:hover {
    color: #FFF;
}

.copyright {
    float: left;
}

#go-btn {
    color: #FFF;
    background-color: #6666ff;
    width: 50px;
    height: 21px;
    border: none;
    font-size: 16px;
    margin-top: 30px;
    cursor: pointer;
}

.calculate {
    background: #ecf2f9;
    width: 350px;
    margin: -110px auto;
    padding: 35px;
    border-radius: 5px;
    position: relative;
}

.calculate h2 {
    color: #002699;
}

.calculate .input {
    padding: 13px 0 13px 25px;
    width: 100%;
    text-align: center;
    border: 2px solid #dddddd;
    border-radius: 5px;
    letter-spacing: 1px;
    word-wrap: 3px;
    outline: none;
    color: #555555;
}

.calculate .income {
    width: 91.5%;
    letter-spacing: 1px;
    word-wrap: 3px;
    outline: none;
    color: #555555;
    padding: 13px 0 13px 25px;
    border: 2px solid #dddddd;
    border-radius: 5px;
}

.calculate .textinput {
    width: 91.5%;
    letter-spacing: 1px;
    word-wrap: 3px;
    outline: none;
    color: #555555;
    padding: 13px 0 13px 25px;
    border: 2px solid #dddddd;
    border-radius: 5px;
}

.calculate .label {
    display: block;
    color: #555555;
    margin-bottom: 6px;
}

.menu .active {
    color: #6666ff;
    font-weight: bold;
}

.calculate .percent {
    display: none;
    color: #ff0000;
}


/** About US and Team Page Style **/

.about-section {
    color: black;
    width: 80%;
    margin: auto auto;
    padding: 1rem 0.5rem 0.5rem 1rem;
}

.about_image {
    margin-left: 400px;
    margin-top: 100px;
}

.about-section h2,
h3 {
    text-align: center;
}

.about-section p {
    text-align: justify;
}

#partners {
    color: black;
    width: 80%;
    margin: auto auto;
    padding: 1rem 0.5rem 0.5rem 1rem;
    text-align: center;
}

#team {
    color: black;
    width: 80%;
    margin: auto auto;
    padding: 1rem 0.5rem 0.5rem 1rem;
}

#team h2 {
    text-align: center;
}

#team-members {
    width: 90%;
    margin: 5px auto 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding: 20px 20px 0 20px;
    margin-bottom: 2rem;
    line-height: 10%;
}

#team-members h5 {
    color: grey;
    display: inline-block;
    width: 240px;
    word-break: normal;
    word-wrap: break-word;
    line-break: normal;
    line-height: 15px;
    text-align: justify;
    margin-bottom: 0px;
    margin-top: 2px;
}

.member {
    border-radius: 0px;
    padding: 1.5rem;
    margin-bottom: 0.7rem;
    text-align: center;
}

.member img {
    border-radius: 50%;
}

.member h4 {
    color: black;
    font-weight: 500px;
    font-style: oblique;
}

.member p {
    color: black;
    font-style: italic;
}

.aboutus-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: 300px;
    margin: auto;
    text-align: center;
}

.logo-section {
    display: flex;
    padding: 30px;
    color: black;
    border-radius: 12px;
}

.team-btn {
    color: #FFF;
    background-color: #6666ff;
    border-radius: 20px;
    width: 220px;
    height: 50px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}

#team button {
    margin: auto;
    display: inline-block;
}

.card-section {
    display: flex;
    padding: 30px;
    color: black;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
}

#mission {
    font-weight: bold;
    font-style: italic;
    text-align: left;
}

.tax-photo {
    width: 60%;
    height: 58%;
    align-self: center;
    padding-left: 20%;
}


/* Pagination of team page */

#page-control {
    display: inline-block;
    margin: auto;
}

.center {
    margin: auto;
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 50%;
    }
    .team-members {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 2px;
    }
}